<div>
    <form ng-submit="add()">
        <label for="question">Question:</label>
        <input id="question" ng-model="question">
        <label for="answerA">Question:</label>
        <input id="answerA" ng-model="answerA">
        <label for="answerB">Question:</label>
        <input id="answerB" ng-model="answerB">
        <label for="answerC">Question:</label>
        <input id="answerC" ng-model="answerC">
        <label for="answerD">Question:</label>
        <input id="answerD" ng-model="answerD">
        <label for="correctAnswer">Question:</label>
        <input id="correctAnswer" ng-model="correctAnswer">

        <button type="submit">Add</button>
    </form>
</div>
