<div class="col-md-12">
    <form ng-submit="add()">
        <div class="col-md-12">
            <label for="question">Question:</label>
            <input id="question" ng-model="question">
        </div>
        <div class="col-md-12">
            <label for="answerA">Answer A:</label>
            <input id="answerA" ng-model="answerA">
        </div>
        <div class="col-md-12">
            <label for="answerB">Answer B:</label>
            <input id="answerB" ng-model="answerB">
        </div>
        <div class="col-md-12">
            <label for="answerC">Answer C:</label>
            <input id="answerC" ng-model="answerC">
        </div>
        <div class="col-md-12">
            <label for="answerD">Answer D:</label>
            <input id="answerD" ng-model="answerD">
        </div>
        <div class="col-md-12">
            <label for="correctAnswer">Correct answer:</label>
            <select id="correctAnswer" ng-model="correctAnswer">
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
            </select>
        </div>

        <button type="submit">Add</button>
    </form>
</div>
