<div class="col-md-12 AddCtrl container">
    <form ng-submit="add()" ng-hide="added">
        <div class="col-md-12">
            <h1>Add new question</h1>
            <label for="question">Question:</label>
            <input class="form-control" placeholder="Question..." id="question" ng-model="question">
            <label for="answerA">Answers:</label>
            <div class="input-group">
                <span class="input-group-addon" id="answerA">A</span>
                <input type="text" class="form-control" placeholder="Answer A" aria-describedby="answerA" ng-model="answerA">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="answerB">B</span>
                <input type="text" class="form-control" placeholder="Answer B" aria-describedby="answerB" ng-model="answerB">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="answerC">C</span>
                <input type="text" class="form-control" placeholder="answer C" aria-describedby="answerC" ng-model="answerC">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="answerD">D</span>
                <input type="text" class="form-control" placeholder="Answer D" aria-describedby="answerD" ng-model="answerD">
            </div>

            <label for="correctAnswer">Correct answer:</label>
            <select id="correctAnswer" ng-model="correctAnswer">
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
            </select>
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-success pull-right"><i class="glyphicon glyphicon-plus"></i> Add Question</button>
        </div>
    </form>
    <div class="col-md-12" ng-show="added">
        <div class="col-md-4 col-md-offset-4">
            <h1>Your question was added!</h1>
            <button class="btn btn-success pull-right" ng-click="addMore()">Add more</button>
        </div>
    </div>
</div>
