<div class="modal-header">
    <h3 class="modal-title">Call to a friend</h3>
</div>
<div class="modal-body">
    <div class="call" ng-show="(type == 'call')">
        <p class="delay-5">A friend say...</p>
        <p class="delay-10">that the answer is...</p>
        <p class="delay-15">... {{ answer }}</p>
    </div>
    <div class="vote" ng-show="(type == 'vote')">
        <div class="progress" ng-repeat="(key, value) in answer">
            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="{{ value }}" aria-valuemin="0" aria-valuemax="100" style="{{ 'width:' + value + '%' }}">
                <span class="sr-only">{{ key }}</span>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="ok()">OK</button>
</div>