body {
    background-image: url('../../images/background.png');
    font-family: Arial;
}
#wrapper {
    width: 960px;
    margin: 0 auto;
}
textarea {
    width: 100%;
    height: 70px;
    font-size: 20px;
    font-family: arial;
}
table {
    border-collapse: collapse;
    width: 960px;
}
table tr td {
    border: 3px solid #1D7074;
}
td {
    padding: 10px;
}
td:nth-of-type(1) {
    background-color: #ff9840;
    font-size: 24px;
    width: 150px;
    text-align: center;
}
td:nth-of-type(2) {
    background-color: #ffb473;
}
#create-btn {
    width: 100%;
    height: 50px;
    color: #01C3CD;
    background: #1D7074;
    font-size: 24px;
    font-family: Arial;
    border: 2px solid #004a4d;
    border-radius: 15px;
    font-weight: bold;
}
#create-btn:hover {
    background: #00939A;
    border: 2px solid #00CFC4;
    color: #01C3CD;
    font-weight: bold;
}